table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
}

th {text-align: left;}

td:hover{
  background-color: white;
}

fieldset{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border: none;
  text-align: center;
  width: 50%;
  height: 7%;
  margin: 0 auto;
  margin-top: -10px;
  float: center;
  color: white;
}

body{
  background-color: lightgrey;
}
